[nation_chinese]

translation_domain="freeciv"

name=_("中華人民共和国")
plural=_("?plural:中国")
rule_name=_("Chinese")
rule_plural=_("?plural:Chinese")
groups="Modern", "Asian", "Core"
legend=_("China is the oldest major civilization that is still in\
 existence today, with written records dating back over 3,500 years.\
 After first being unified by the Qin dynasty in 221 BCE, China alternated\
 between periods of unity and disunity, and was occasionally conquered by\
 external ethnicities. Today, the People's Republic of China, established\
 by the Communists in 1949, occupies the mainland, while the former\
 Nationalist government of the Republic of China governs the island of\
 Taiwan.")

leaders = {
 "name",                "sex"
 "semi",       "Male"
 "鄧小平",       "Male"
 "華国鋒",         "Male"
 "王光美",       "Female"
 "周恩来",          "Male"
 "毛沢東",          "Male"
 "陳独秀",          "Male"
}

ruler_titles = {
 "government",      "male_title",      "female_title"
 "Despotism",        _("国家主席 %s"),   _("国家主席 %s")
 "Monarchy",        _("国家主席 %s"),   _("国家主席 %s")
 "Republic",        _("国家主席 %s"),         _("国家主席 %s")
 "Democracy",        _("国家主席 %s"),   _("国家主席 %s")
 "Communism",      _("国家主席 %s"),   _("国家主席 %s")
}

flag="china"
flag_alt = "-"
style = "Asian"

init_techs=""
init_buildings=""
init_units=""
civilwar_nations=
; Technically Taiwan (ROC) is the site of government-in-exile of China proper
 "taiwanese",
; Nations part of modern PRC
 "manchu", "miao", "tibetan", "uyghur", "zhuang", "cantonese"

cities =
 "北京",
 "上海",
 "広州",
 "天津",
 "南京", 
 "西安",
 "重慶",
 "海南",
 "成都",
 "石家庄", 
 "共産党領",
 "鄭州",
 "武漢",
 "長沙",
 "南昌", 
 "杭州",
 "福州",
 "合肥",
 "貴陽",
 "蘭州", 
 "昆明",
 "西寧",
 "南寧",
 "銀川",
 "瀋陽", 
 "長春",
 "哈爾浜",
 "洛陽",
 "開封",
 "青島", 
 "蘇州",
 "無錫",
 "廈門",
 "海口",
 "香港", 
 "大同",
 "安陽",
 "商丘",
 "南洋",
 "登封", 
 "邯単",
 "保定",
 "承德",
 "唐山",
 "張家口", 
 "養泰",
 "畄博",
 "濟寧",
 "德州",
 "秦皇島", 
 "常熟",
 "高郵",
 "南通",
 "鎮江",
 "連雲港", 
 "揚州",
 "徐州",
 "常州",
 "温州",
 "湖州", 
 "紹興",
 "嘉興",
 "寧波",
 "章州",
 "泉州", 
 "汕頭",
 "佛山",
 "深川",
 "珠海",
 "中山", 
 "恵州",
 "潮州",
 "ガン州",
 "九江",
 "景德鎮", 
 "湛江",
 "柳州",
 "北海",
 "桂林",
 "宜昌", 
 "湘潭",
 "株洲",
 "邵陽",
 "株洲",
 "岳陽", 
 "綿陽",
 "自貢",
 "咸陽",
 "宝ジ",
 "个旧", 
 "天水",
 "酒泉",
 "白銀",
 "敦煌",
 "嘉峪咲", 
 "大連",
 "鞍山",
 "撫順",
 "吉林",
 "牡丹江", 
 "遼陽",
 "丹東",
 "包頭",
 "黒河", 
 "蚌埠",
 "蕪湖",
 "安慶",
 "馬鞍山"
