[nation_friulian]

name=_("フリウリ")
plural=_("?plural:フリウリ")
groups="European", "Medieval"
legend=_("Friuli is a region in north-eastern Italy. A duchy of the Lombards\
 and then a march of the Franks, it was ruled by the Patriarchs of Aquileia\
 from the 11th century onward. In the 15th century Friuli was divided between\
 Venice and Austria. The Friulian language is closely related to the Romansh\
 language spoken in Switzerland.")

leaders = {
 "name",                         "sex"
 "グシルフ",                       "Male"
}

flag="friuli"
flag_alt = "-"
style = "European"

ruler_titles = { "government",     "male_title",       "female_title"
                 "Despotism",      _("Margrave %s"),   _("Margravine %s")
                 "Fundamentalism", _("Patriarch %s"),  _("Matriarch %s")
	       }

init_techs=""
init_buildings=""
init_units=""

civilwar_nations = "venetian", "slovenian", "romansh"

cities =
 "Aquilee (ocean)",
 "Udin (plains)",
 "Cividat",
 "Pordenon",
 "Gurize",
 "Gardiscje",
 "Monfalcon",
 "Sacil",
 "Concuardie",
 "Cordenons",
 "Codroip",
 "Purcie",
 "Dacan di Pordenon",
 "Tavagna",
 "San Vit dal Tiliment",
 "Tisane",
 "Carvignan",
 "Spilimberc",
 "Cjampfuarmit",
 "Roncjis di Monfalcon",
 "Vile di Flum",
 "Glemone",
 "Mania",
 "Fontanefrede",
 "Tumiec",
 "Davian",
 "Tarcint",
 "Brugnere",
 "Pasian di Prat",
 "Grau",
 "Cjasarse",
 "Prate",
 "Lignan",
 "San Denel",
 "Copule",
 "Cormons",
 "Tresesin",
 "Pasian di Pordenon",
 "San Zorc di Noiar",
 "Staranzan",
 "Buie",
 "Pucui",
 "Manzan",
 "San Canzian",
 "Cjanive di Sacil",
 "Siest",
 "Maian",
 "Remanzas",
 "Feagne",
 "Lavoret",
 "Tarvis",
 "San Zorc da la Richinvelde",
 "Ponteibe"
