[nation_hawaiian]

name=_("ハワイ")
plural=_("?plural:ハワイ")
rule_name=_("Hawaiian")
rule_plural=_("?plural:Hawaiians")
groups="Oceanian"

legend=_("The Kingdom of Hawaii was established in 1810 by King Kamehameha\
 the Great. Abolished in 1893, and subsequently annexed to the United\
 States, the former kingdom became the 50th state of the United States\
 on August 21, 1959.")

leaders = {
 "name",                "sex"
 "カメハメハ1世",        "Male"
 "カメハメハ2世",       "Male"
 "カメハメハ3世",      "Male"
 "カメハメハ4世",       "Male"
 "カメハメハ5世",        "Male"
 "ルナリロ",            "Male"
 "カラカウア",            "Male"
 "リリウオカラニ",       "Female"
 "ニール・アバクロンビー",            "Male"
 
}

ruler_titles = {
 "government",      "male_title",     "female_title"
 "Despotism",       _("国王陛下 %s"), _("女王陛下 %s")
 "Monarchy",        _("国王陛下 %s"), _("女王陛下 %s")
 "Communism",       _("州知事 %s"), _("州知事 %s")
 "Republic",        _("州知事 %s"), _("州知事 %s")
 "Democracy",       _("州知事 %s"), _("州知事 %s")

}
flag         = "hawaii"
flag_alt     = "-"
style   = "Tropical"

init_techs=""
init_buildings=""
init_units=""

civilwar_nations = "maori", "polynesian"

cities =
 "Honaunau",
 "Kealakekua",
 "Kaloko",
 "Kailua",
 "Waiahukui",
 "Ka Lae",
 "Mahana",
 "Mauna Kea",
 "‘Anaeho’omalu",
 "Puako",
 "Lapakani",
 "Pololu",
 "Honopue",
 "Waimea",
 "Kahoolawe",
 "Lanai",
 "Palauea",
 "Haleakala",
 "Kawela",
 "Halawa",
 "Kuli’ou’ou",
 "Moanalua",
 "Makana",
 "Anahula",
 "Kahana",
 "Halele’a",
 "Niihau",
 "Nihoa"
