[nation_luwian]

name=_("ルヴィ")
plural=_("?plural:ルヴィ")
groups="Ancient", "Asian"
legend=_("The Luwians were an ancient Indo-European Anatolian people who \
lived in the late Bronze Age. For a time after the fall of the Hittite Empire\
 they took a dominant role in the region. One of the most important\
 Neo-Hittite states was Tabal (biblical Tubal), located in Syria and\
 Southeastern Anatolia.")
leaders = {
 "name",                "sex"
 "パリヤワトリ",         "Male"
}
flag="luwian"
flag_alt = "-"
style = "Babylonian"

init_techs=""
init_buildings=""
init_units=""

conflicts_with="ottoman", "turkish", "byzantine", "roman", "arab", "armenian",
 "syrian", "seleucid", "palmyrene"
civilwar_nations = "hittite", "aramean", "mitanni" ; lycian, carian

cities =
 "Kummanni",
 "Tarhuntassa",
 "Adana",
 "Milid",
 "Hupisna",
 "Tuwana",
 "Qarqar",
 "Karatepe",
 "Kinalua",
 "Arpad",
 "Hamath",
 "Zincirli",
 "Marqasi",
 "Carchemi?",
 "Tunna",
 "Halab",
 "Nampigi",
 "Hatarikka",
 "Til-Barsip",
 "Guzana",
 "Pozanti",
 "Ikkuwaniya"
