[nation_purhepecha]

name=_("プレペチャ族")
plural=_("?plural:プレペチャ族")
groups="Medieval", "American"

; /* TRANS: The eighth letter in "Michoacan" should be */
; /* TRANS: 00E1 LATIN SMALL LETTER O WITH ACUTE if available in */
; /* TRANS: your charset.  In ISO-8859-1 (ISO Latin 1) this is E1. */
legend=_("The P'urhepecha or Tarascans are a people native to the modern\
 Mexican state of Michoacan, the heart of a former empire known to them\
 as Irechikua Ts'intsuntsani, meaning the \"lands of Tzintzuntzan,\" their\
 capital city. Their kings were the perennial enemy of the Aztec empire,\
 who attempted an unsuccessful invasion of the P'urhepecha lands. When the\
 Spanish arrived and began their conquest of Mexico in 1519, the Aztecs\
 sent an embassy seeking the support of the P'urhepecha, but was refused.\
 The conquistadores' reputation preceded them and the P'urhepecha offered\
 to become a subject state of the King of Spain rather than meet the same\
 fate as their former enemies, the Aztecs. Nevertheless, the transition to\
 Spanish rule was not smooth and devolved into violence. The empire,\
 founded around 1450 AD, collapsed in 1530.")

leaders = {
 "name",                "sex"
 "タリアクリ",           "Male"
 "ヒリパン",             "Male"
 "タングサン１世",         "Male"
}

flag="purhepecha"
flag_alt = "-"
style = "Tropical"

init_techs=""
init_buildings=""
init_units=""

civilwar_nations="aztec", "hopi"

cities =
 "Ts'intsuntsani",	;Tzintzuntzan
 "Jiuatsi",		;Ihuatzio
 "P'atskuarhu",		;Patzcuaro
 "Cherani",		;Cheran
 "Uetamo",		;Huetamo
 "Uruapani",		;Uruapan
 "Uaianarhio",		;Morelia/Guayangareo
 "Kuanajuato",		;Guanajuato
 "K'eretarhu",		;Queretaro
 "Purhuandirhu",	;Puruandiro
 "Parhikutini",		;Paricutin
 "Kerendarhu",		;Querendaro
 "Akambarhu",		;Acambaro
 "Tsakapu Takanendam",	;Zacapu
 "Tsinaparhu",		;Zinaparo
 "Irapuato",		;Irapuato
 "Janitsio (lake)",	;Janitzio
 "Marhabatio",		;Maravatio
 "Tsitakuarhu",		;Zitacuaro
 "Takambarhu",		;Tacambaro
 "Ts'irauani",		;Zirahuen
 "Epenjimu",		;Penjamo
 "Tingambato",		;Tingabato
 "Parhanharhikutirimikuarhu",	;Nuevo San Juan Paranguaricutiro
 "Tsirio",		;Tzirio
 "Ts'irondarhu",	;Zirondaro
 "Taximarhu",		;Ciudad Hidalgo/Taximaroa
 "Chupikuarhu",		;Chupicuaro
 "Iurhirio",		;Yuriria
 "Kukupao",		;Quiroga
 "Urichu",		;Urichu
 "Ts'inapekuarhu",	;Zinapecuaro
 "Uandakareo",		;Huandacareo
 "Cherani Jajtsikurini",	;Cheranastico
 "Erokurhinirhu", 	;Erongaricuaro
 "Akambari",		;Acambay
 "Akarhinirhu",		;Acariniro
 "Kamembarhu",		;Valle de Santiago/Camembaro
 "Angahuani",		;Angahuan
 "Karapani",		;Carapan
 "Ch'amakuerhu",	;Comonfort
 "Eraxamani",		;La Canada
 "Anhamukutirhu",	;Angamacutiro
 "Samora",		;Zamora
 "Siuinio",		;Sevina
 "Tukurhu",		;Tacuro
 "Iurhirapundarhu",	;Yurirapundaro
 "Uanti",		;Huancito
 "Kuaimarhu",		;Huanimaro
 "Pamenhikuarhu",	;Panindicuaro
 "Tarhimurhu",		;Tarimoro
 "T'urhikuarhu",	;Turicuaro
 "Peribani",		;Periban
 "Ichani",		;Ichan
 "Ichupio",		;Ichupio
 "Marhuata",		;Maruata
 "Iauatsini",		;Nahuatzen
 "Nurhio",		;Nurio
 "Tirindarhu",		;Tirindaro
 "Urhiantato",		;Uriangato
 "Tsakani",		;Zacan
 "Tiripitio",		;Tiripetio
 "Pichatarhu",		;Pichataro
 "Kintsio",		;Quinceo
 "Tarhandakuarhu",	;Tarandacuaro
 "Urapichu",		;Urapicho
 "Ts'irakuarhitirhu"	;Ziracuaretiro

