[nation_spanish]

translation_domain="freeciv"

name=_("スペイン王国")
plural=_("?plural:スペイン")
rule_name=_("Spanish")
rule_plural=_("?plural:Spanish")
groups="Early Modern", "Modern", "European", "Core"
legend=_("The modern Spanish nation was formed when the rulers of the\
 kingdoms of Castile and Aragon led the recapture of the Iberian\
 peninsula from the Moslems. The Reconquista was completed in 1492,\
 the same year Columbus sailed. Spain then went on to create an empire\
 on which the sun never set.")

leaders = {
 "name",                "sex"
 "Soh",             "Male"
 "ビリアット",             "Male"
 "リカルド１世",          "Male"
 "アルフォンソ X",           "Male"
 "フェルナンド V",          "Male"
 "イザベル１世",            "Female"
 "カルロス１世",            "Male"
 "フェリペ２世",           "Male"
 "カルロス３世",          "Male"
 "マヌエル・アサーニャ",        "Male"
 "フランシスコ・フランコ",    "Male"
}

ruler_titles = {
  "government",     "male_title",           "female_title"
  "Anarchy",        _("Pretender %s"),      _("?female:Pretender %s")
  "Despotism",      _("Caudillo %s"),       _("Caudilla %s")
  "Monarchy",        _("国王陛下 %s"), _("女王陛下 %s")
  "Republic",        _("将軍 %s"), _("将軍 %s")
  "Democracy",      _("首相・国王陛下 %s"), _("?female:首相・女王陛下 %s")
  "Communism",       _("総力体制・国王陛下 %s"), _("総力体制・女王陛下 %s")
  "Fundamentalism", _("Cardinal %s"),       _("Mother Superior %s")
}

flag="spain"
flag_alt = "-"
style = "Classical"

init_techs=""
init_buildings=""
init_units=""

conflicts_with="aragonese", "asturian", "castilian", "galician", "leonese"

civilwar_nations=
; Sub-national nations
 "aragonese", "asturian", "basque", "castilian", "catalan", "galician",
 "leonese",

; Spanish speaking ex-colonies
 "argentine", "chilean", "colombian", "cuban", "filipino", "mexican",
 "peruvian", "venezuelan"

cities =
 "Madrid",
 "Barcelona (ocean)",
 "Bilbao (ocean)",
 "Valencia (ocean)",
 "Sevilla",
 "Zaragoza",
 "Pamplona",
 "Oviedo",
 "Valladolid",
 "Toledo",
 "Santander (ocean)",
 "Granada",
 "León",
 "Córdoba",
 "San Sebastián (ocean)",
 "Segovia",
 "Gerona",
 "La Coruña (ocean)",
 "Murcia",
 "Málaga (ocean)",
 "Cádiz (ocean)",
 "Tarragona (ocean)",
 "Vitoria",
 "Burgos",
 "Palma (ocean)",
 "Castellón de la Plana (ocean)",
 "Palencia",
 "Huelva (ocean)",
 "Zamora",
 "Badajoz",
 "Jaén",
 "Teruel",
 "Lugo",
 "Ciudad Real",
 "Alicante (ocean)",
 "Almería (ocean)",
 "Soria",
 "Logroño",
 "Pontevedra",
 "Orense",
 "Guadalajara (river)",
 "Cuenca (mountains)",
 "Santa Cruz de Tenerife (ocean)",
 "Huesca",
 "Ávila",
 "Albacete",
 "Lérida",
 "Salamanca",
 "Cáceres",
 "Las Palmas de Gran Canaria (ocean)",
 "Reus",
 "Linares",
 "Sabadell",
 "Baracaldo",
 "Calahorra",
 "Manacor (ocean)",
 "Calatrava",
 "Getafe",
 "Alcudia (ocean)",
 "Laredo (ocean)",
 "Albarracín",
 "Rentería (ocean)",
 "Almazán",
 "Durango",
 "Barbastro",
 "Ciudad Rodrigo",
 "El Ferrol (ocean)",
 "Jerez de la Frontera",
 "Algeciras (ocean)",
 "Estela",
 "Alcalá de Henares",
 "Ponferrada",
 "Calatayud",
 "Monforte",
 "Elche (ocean)",
 "Orihuela",
 "Mérida",
 "Trujillo",
 "Vigo (ocean)",
 "Alcoy",
 "Tarrasa",
 "Astorga",
 "Manresa",
 "Torrelavega",
 "Mataró",
 "Puertollano (hills)",
 "Plasencia",
 "Santurce",
 "Cartagena (ocean)",
 "Ibiza (ocean)",
 "Mahón (ocean)",
 "Badalona",
 "Gijón (ocean)",
 "Aranjuez",
 "Almadén",
 "Seo de Urgel (mountains)",
 "Bailén",
 "Ampurias",
 "Navalcarnero",
 "Güímar",
 "Carmona",
 "Betanzos",
 "La Laguna",
 "Hijar",
 "Baltanás",
 "Villena",
 "Valdepeñas",
 "Vergara",
 "Tolosa",
 "Sigüenza",
 "Cangas de Onís",
 "Morella",
 "Vitigudino",
 "Marchena",
 "Armuña",
 "Tornelloso",
 "Arzúa",
 "Belorado",
 "Jaca (mountains)",
 "Castrojeriz (hills)",
 "Alméniz",
 "Cervera",
 "Cifuentes",
 "Garafía",
 "Sequeros",
 "Alarcón",
 "Segorbe",
 "Almudévar",
 "Salvatierra",
 "Sarnón",
 "Barbate",
 "Albañiz",
 "Gandía",
 "Lerma",
 "Villaviciosa",
 "Játiva",
 "Calamocha",
 "Orotava",
 "Labastida",
 "Mogán",
 "Figueras",
 "Orcera",
 "Alcaudete",
 "Alcira",
 "Zumárraga",
 "Tudela",
 "Montalbán",
 "Reinosa",
 "Navalmoral de la Mata",
 "Monreal",
 "Mazarrón",
 "Lepe",
 "Montefrío (hills)",
 "Utrera",
 "Alcañiz",
 "Villalba",
 "Jaraíz",
 "Vélez",
 "Almuñécar",
 "Brunete",
 "Talavera de la Reina",
 "Cardona",
 "Amposta",
 "Sacedón",
 "Marbella",
 "Vejer de la Frontera",
 "Guadix (river)",
 "Azpeitía",
 "Ubeda",
 "Caspe",
 "Torquemada",
 "Lorca",
 "Benidorm (ocean)",
 "Tortosa",
 "Motril",
 "Lucena",
 "Berga",
 "Monzón",
 "Agüimes",
 "Fregenal",
 "Aguilar",
 "Antequera",
 "Tineo",
 "Sedano",
 "Lebrija",
 "Calatañazor",
 "Azuaga",
 "Vilches",
 "Alcántara",
 "Fraga",
 "Benavente",
 "Mondragón",
 "Calanda",
 "Daroca",
 "Valverde",
 "Belmonte",
 "Simancas",
 "Coria",
 "Requena",
 "Aranda"
