[nation_swedish]

translation_domain="freeciv"

name=_("スウェーデン王国")
plural=_("?plural:スウェーデン")
rule_name=_("Swedish")
rule_plural=_("?plural:Swedes")
groups="Medieval", "Early Modern", "Modern", "European", "Core"
legend=_("The Kingdom of Sweden was christianized and consolidated as a\
 political entity by the 12th century CE. The country rose to prominence as\
 one of the great powers of Europe in the 17th century, following\
 substantial military conquests by the so called Warrior Kings. However,\
 due to a worsening economy and several disastrous defeats to Russia, Sweden\
 soon lost most of its gained territory. The country has not been involved\
 in an armed conflict since 1814.")

leaders = {
 "name",                "sex"
 "エリク6世",      "Male"
 "マヌグス1世",      "Male"
 "グスタフ1世",         "Male"
 "エリク9世",             "Male"
 "カール12世",            "Male"
 "グスタフ2世アドルフ",     "Male"
 "クリスティーナ",            "Female"
 "オスカー2世",            "Male"
 "ハンソン",   "Male"
 "パーム",          "Male"
 "アンナ",          "Female"
}

ruler_titles = {
 "government",      "male_title",           "female_title"
 "Anarchy",         _("臨時政府・国王陛下 %s"), _("臨時政府・女王陛下 %s")
 "Despotism",       _("Earl %s"),           _("?female:Earl %s")
 "Monarchy",        _("国王陛下 %s"), _("女王陛下 %s")
 "Republic",        _("護国卿 %s"), _("護国卿 %s")
 "Democracy",       _("首相・国王陛下 %s"), _("?female:首相・女王陛下 %s")
 "Communism",       _("戦時政府・国王陛下 %s"), _("戦時政府・女王陛下 %s")
}

flag="sweden"
flag_alt = "-"
style = "European"

init_techs=""
init_buildings=""
init_units=""
civilwar_nations = "sami", "scanian", "viking", "danish", "norwegian", "western pomeranian"

cities =
 "Stockholm (ocean)",
 "Uppsala",
 "Sollentuna",
 "Sigtuna",
 "Lödöse (ocean)",
 "Norrköping (grassland)",
 "Husaby",
 "Linköping (grassland)",
 "Örebro (river)",
 "Gävle",
 "Västerås (hills)",
 "Göteborg (ocean)",
 "Karlstad",
 "Växjö (ocean)",
 "Kalmar",
 "Visby",
 "Malmö (ocean)",
 "Helsingborg",
 "Ystad",
 "Lund",
 "Bohus",
 "Luleå (river, ocean)",
 "Halmstad",
 "Östersund (ocean)",
 "Nyköping (grassland)",
 "Söderhamn (ocean)",
 "Nässjö",
 "Sundsvall (ocean)",
 "Piteå (river, ocean)",
 "Skellefteå (river, ocean)",
 "Umeå (river, ocean)",
 "Jönköping (grassland)",
 "Kristianstad",
 "Sala (mountains)",
 "Karlskrona",
 "Mora",
 "Oskarshamn (ocean)",
 "Hässleholm (ocean)",
 "Falun",
 "Viborg",
 "Holmgård (ocean)",
 "Orsa (ocean, river)",
 "Trollhättan",
 "Kiruna (mountains)",
 "Jokkmokk (river)",
 "Lycksele (river)",
 "Hultsfred",
 "Sorsele (river)",
 "Pajala",
 "Vidsel (river)",
 "Kalix",
 "Burträsk (swamp)",
 "Västervik (ocean)",
 "Skogstorp (forest)"
