[nation_togolese]

name=_("トーゴ共和国")
plural=_("?plural:トーゴ")
groups="African", "Modern"
legend=_("Togo became a German protectorate in 1885 and was conquered by\
 the French and British in World War II. Togo became independent in 1960.\
 Since the late 1960s the country's politics have been dominated by\
 general Gnassingbe Eyadema, who was succeeded by his son Faure upon his\
 death in 2005.")
leaders = {
 "name",               "sex"
 "マラパ３世",          "Male"
 "シルバヌス・オリンピオ",   "Male"
 "ニコラ・グルニツキー",  "Male"
 "ニャシンベ・エヤデマ", "Male"
 "フォール・ニャシンベ",   "Male"
}

ruler_titles = {
 "government",      "male_title",     "female_title"
 "Despotism",       _("ドイツ人総督 %s"), _("ドイツ人総督 %s")
 "Monarchy",        _("イギリス人総督 %s"), _("イギリス人総督 %s")
 "Communism",       _("大統領 %s"), _("大統領 %s")
 "Republic",        _("フランス人総督 %s"), _("フランス人総督 %s")
 "Democracy",       _("大統領 %s"), _("大統領 %s")

}

flag="togo" 
flag_alt = "-" 
style = "tropical" 

init_techs="" 
init_buildings="" 
init_units="" 

civilwar_nations="Ghanaian", "Burkinabe", "Nigerian"

cities = 
 "Lome",
 "Atakpame",
 "Kara",
 "Dapaong",
 "Sokode",
 "Togoville",
 "Kpalime",
 "Tsevie",
 "Notse",
 "Aneho",
 "Bassar",
 "Mango",
 "Niamtougou",
 "Tchamba",
 "Sotouboua",
 "Vogan",
 "Bafilo",
 "Tabligbo",
 "Badou",
 "Kande",
 "Tohoun",
 "Blitta-Gare",
 "Kpagouda",
 "Mandouri",
 "Guerin-Kouka",
 "Amlame",
 "Keve",
 "Apeyeme",
 "Elavagnon",
 "Gadzepe",
 "Tandjoare"
