
; Descriptions of nation sets
; These are self-contained subsets of the available nations; one of these
; can be chosen in pregame with the "nationset" option. No nations
; outside the selected subset will be used.
; The first set defined is the one that is used by default. It is mandatory
; to have at least one, but if there is only one, it will be kept out of
; the user`s way.
; name 		= Translatable name of the set presented in the UI.
; rule_name     = Unique persistent name; this is also visible to users as
;                 the value of the "nationset" server option, and presented
;                 in "/list nationsets". It should thus be short, in lower
;                 case, and not contain spaces or punctuation.
;                 The same saved "nationset" setting may be used for multiple
;                 rulesets, so if your custom ruleset has any set which
;                 contains all of its nations, it is useful to give it a
;                 rule_name of "all" so that users can specify that they
;                 always want the choice of all available nations by
;                 default.
; description   = Optional short user description of this set.

[nset_core]
name=_("?nationset:Core")
rule_name="core"
; /* TRANS: Description of 'Core' nation set in default rulesets.
; If you have translated all of the nations in the extended set, not
; just these core nations, feel free to discard the words about
; localization, rather than translating literally. */
description=_("\
A small set of playable nations that should be fully localized into \
languages other than English.\
")
[nset_extended]
name=_("?nationset:Extended")
rule_name="all"
; /* TRANS: Description of the 'Extended' nation set in default rulesets,
; which contains all nations that come with Freeciv.
; If you have only translated the Core nations, replace this
; description to say so rather than making it a literal translation.
; Conversely, if you have translated everything, you can get rid of the
; caveat about localization. */
description=_("\
The complete set of playable nations; this allows for larger games or more \
variety, but not all of these may have been localized into languages other \
than English.\
")

; Descriptions of nation groups
; These are more cosmetic than sets; they affect the "pick nation" dialog,
; random nation selection, and possibly ruleset behaviour.
; It`s OK to not define any nation groups at all.
; name 		= name of the group (used adjectivally)
; hidden        = TRUE to not include this group in the "pick nation" dialog
;                 (for instance if it`s for use in a NationGroup requirement).
;                 Default FALSE.
; match		= How much the AI will try to select a nation in the same
;                 group

[ngroup_ancient]
name=_("?nationgroup:Ancient")
match=2
[ngroup_medieval]
name=_("?nationgroup:Medieval")
match=2
[ngroup_earlymodern]
name=_("?nationgroup:Early Modern")
match=1
[ngroup_modern]
name=_("?nationgroup:Modern")
match=1
[ngroup_african]
name=_("?nationgroup:African")
match=0
[ngroup_american]
name=_("?nationgroup:American")
match=0
[ngroup_asian]
name=_("?nationgroup:Asian")
match=0
[ngroup_european]
name=_("?nationgroup:European")
match=0
[ngroup_oceanian]
name=_("?nationgroup:Oceanian")
match=0
[ngroup_imaginary]
name=_("?nationgroup:Imaginary")
match=1
[ngroup_barbarian]
name=_("?nationgroup:Barbarian")
match=0
hidden=true

[compatibility]

; Compatibility: these nations are intended for use in a variety of
; rulesets; declare which governments etc the nations may refer to, so that
; nations referencing any of these can be loaded even in rulesets which
; do not have some of them (if a referenced game identifier is not on these
; lists, it will cause an error, to allow typos to be spotted)

allowed_govs =
  "Anarchy", "Despotism", "Monarchy", "Communism", "Fundamentalism",
  "Republic", "Democracy", "Aristocracy", "Feudalism", "Socialdemocracy"
allowed_terrains =
  "Lake", "Ocean", "Desert", "Forest", "Grassland", "Hills", "Jungle",
  "Mountains", "Plains", "Swamp", "Tundra", "Glacier", "River"
allowed_styles =
  "European", "Classical", "Tropical", "Asian", "Babylonian", "Celtic"

; Every nation is a member of the "extended" set (no need to specify in
; individual nation specs).
default_nationset = "all"

; Below: nations data loaded from ruleset files for
; all nations available. If you want to have more
; nations, just add the path to your ruleset to this list or
; add them to local override/nation.ruleset included in the end.
;
; See doc/README.nations for information on how to
; create nation rulesets, including style guidelines.

*include "akasaba/nation/abkhaz.ruleset"
*include "akasaba/nation/aborigines.ruleset"
*include "akasaba/nation/abyssinian.ruleset"
*include "akasaba/nation/acadian.ruleset"
*include "akasaba/nation/acehnese.ruleset"
*include "akasaba/nation/acrean.ruleset"
*include "akasaba/nation/afghani.ruleset"
*include "akasaba/nation/african.ruleset"
*include "akasaba/nation/ainu.ruleset"
*include "akasaba/nation/akwe.ruleset"
*include "akasaba/nation/alandalus.ruleset"
*include "akasaba/nation/alander.ruleset"
*include "akasaba/nation/albanian.ruleset"
*include "akasaba/nation/aleut.ruleset"
*include "akasaba/nation/algerian.ruleset"
*include "akasaba/nation/alsatian.ruleset"
*include "akasaba/nation/amazigh.ruleset"
*include "akasaba/nation/amazonian.ruleset"
*include "akasaba/nation/american.ruleset"
*include "akasaba/nation/andorran.ruleset"
*include "akasaba/nation/angolan.ruleset"
*include "akasaba/nation/anhaltian.ruleset"
*include "akasaba/nation/anishinaabe.ruleset"
*include "akasaba/nation/antarctican.ruleset"
*include "akasaba/nation/antiguan.ruleset"
*include "akasaba/nation/antillean.ruleset"
*include "akasaba/nation/apache.ruleset"
*include "akasaba/nation/arab.ruleset"
*include "akasaba/nation/aragonese.ruleset"
*include "akasaba/nation/aramean.ruleset"
*include "akasaba/nation/argentine.ruleset"
*include "akasaba/nation/armenian.ruleset"
*include "akasaba/nation/ashanti.ruleset"
*include "akasaba/nation/assamese.ruleset"
*include "akasaba/nation/assyrian.ruleset"
*include "akasaba/nation/asturian.ruleset"
*include "akasaba/nation/atlantean.ruleset"
*include "akasaba/nation/australian.ruleset"
*include "akasaba/nation/austrian.ruleset"
*include "akasaba/nation/avar.ruleset"
*include "akasaba/nation/aymara.ruleset"
*include "akasaba/nation/azeri.ruleset"
*include "akasaba/nation/aztec.ruleset"
*include "akasaba/nation/badian.ruleset"
*include "akasaba/nation/babylonian.ruleset"
*include "akasaba/nation/bahamian.ruleset"
*include "akasaba/nation/bahraini.ruleset"
*include "akasaba/nation/bangladeshi.ruleset"
*include "akasaba/nation/barbadian.ruleset"
*include "akasaba/nation/bashkir.ruleset"
*include "akasaba/nation/basque.ruleset"
*include "akasaba/nation/bavarian.ruleset"
*include "akasaba/nation/belarusian.ruleset"
*include "akasaba/nation/belgian.ruleset"
*include "akasaba/nation/belgic.ruleset"
*include "akasaba/nation/belizean.ruleset"
*include "akasaba/nation/bengali.ruleset"
*include "akasaba/nation/benin.ruleset"
*include "akasaba/nation/beninese.ruleset"
*include "akasaba/nation/bhutanese.ruleset"
*include "akasaba/nation/biafran.ruleset"
*include "akasaba/nation/bissauguinean.ruleset"
*include "akasaba/nation/boer.ruleset"
*include "akasaba/nation/boian.ruleset"
*include "akasaba/nation/bolivian.ruleset"
*include "akasaba/nation/bosnia.ruleset"
*include "akasaba/nation/bosporan.ruleset"
*include "akasaba/nation/botswanan.ruleset"
*include "akasaba/nation/brandenburgian.ruleset"
*include "akasaba/nation/brazilian.ruleset"
*include "akasaba/nation/breton.ruleset"
*include "akasaba/nation/british.ruleset"
*include "akasaba/nation/briton.ruleset"
*include "akasaba/nation/bruneian.ruleset"
*include "akasaba/nation/bulgarian.ruleset"
*include "akasaba/nation/burgundian.ruleset"
*include "akasaba/nation/burgundic.ruleset"
*include "akasaba/nation/burkinabe.ruleset"
*include "akasaba/nation/burmese.ruleset"
*include "akasaba/nation/burundi.ruleset"
*include "akasaba/nation/buryat.ruleset"
*include "akasaba/nation/byzantium.ruleset"
*include "akasaba/nation/californian.ruleset"
*include "akasaba/nation/cambodian.ruleset"
*include "akasaba/nation/cameroonian.ruleset"
*include "akasaba/nation/canadian.ruleset"
*include "akasaba/nation/canari.ruleset"
*include "akasaba/nation/cantonese.ruleset"
*include "akasaba/nation/capeverdean.ruleset"
*include "akasaba/nation/carantanian.ruleset"
*include "akasaba/nation/carthaginian.ruleset"
*include "akasaba/nation/castilian.ruleset"
*include "akasaba/nation/catalan.ruleset"
*include "akasaba/nation/celtiberian.ruleset"
*include "akasaba/nation/celtic.ruleset"
*include "akasaba/nation/centralafrican.ruleset"
*include "akasaba/nation/centralamerican.ruleset"
*include "akasaba/nation/centrallithuanian.ruleset"
*include "akasaba/nation/chadian.ruleset"
*include "akasaba/nation/cham.ruleset"
*include "akasaba/nation/chananean.ruleset"
*include "akasaba/nation/chechen.ruleset"
*include "akasaba/nation/cherokee.ruleset"
*include "akasaba/nation/chiapanec.ruleset"
*include "akasaba/nation/chickasaw.ruleset"
*include "akasaba/nation/chilean.ruleset"
*include "akasaba/nation/chimu.ruleset"
*include "akasaba/nation/chinese.ruleset"
*include "akasaba/nation/chinook.ruleset"
*include "akasaba/nation/choctaw.ruleset"
*include "akasaba/nation/chola.ruleset"
*include "akasaba/nation/chrobatian.ruleset"
*include "akasaba/nation/chumash.ruleset"
*include "akasaba/nation/chuvash.ruleset"
*include "akasaba/nation/circassian.ruleset"
*include "akasaba/nation/colombian.ruleset"
*include "akasaba/nation/comanche.ruleset"
*include "akasaba/nation/comorian.ruleset"
*include "akasaba/nation/confederate.ruleset"
*include "akasaba/nation/congolese.ruleset"
*include "akasaba/nation/congolesebrazzaville.ruleset"
*include "akasaba/nation/cornish.ruleset"
*include "akasaba/nation/corsican.ruleset"
*include "akasaba/nation/cossack.ruleset"
*include "akasaba/nation/costarican.ruleset"
*include "akasaba/nation/cree.ruleset"
*include "akasaba/nation/cretan.ruleset"
*include "akasaba/nation/crimeantatar.ruleset"
*include "akasaba/nation/croatian.ruleset"
*include "akasaba/nation/crusader.ruleset"
*include "akasaba/nation/cuban.ruleset"
*include "akasaba/nation/curonian.ruleset"
*include "akasaba/nation/cuyavian.ruleset"
*include "akasaba/nation/cypriot.ruleset"
*include "akasaba/nation/cyrenaican.ruleset"
*include "akasaba/nation/czech.ruleset"
*include "akasaba/nation/czechoslovak.ruleset"
*include "akasaba/nation/dacian.ruleset"
*include "akasaba/nation/dahomean.ruleset"
*include "akasaba/nation/danish.ruleset"
*include "akasaba/nation/darfuri.ruleset"
*include "akasaba/nation/djiboutian.ruleset"
*include "akasaba/nation/dominican.ruleset"
*include "akasaba/nation/dominicano.ruleset"
*include "akasaba/nation/dryad.ruleset"
*include "akasaba/nation/dutch.ruleset"
*include "akasaba/nation/eastgerman.ruleset"
*include "akasaba/nation/easttimorese.ruleset"
*include "akasaba/nation/ecuadorian.ruleset"
*include "akasaba/nation/egyptian.ruleset"
*include "akasaba/nation/egyptianarab.ruleset"
*include "akasaba/nation/elamite.ruleset"
*include "akasaba/nation/emirati.ruleset"
*include "akasaba/nation/english.ruleset"
*include "akasaba/nation/epirote.ruleset"
*include "akasaba/nation/equatoguinean.ruleset"
*include "akasaba/nation/esperant.ruleset"
*include "akasaba/nation/estonian.ruleset"
*include "akasaba/nation/eritrean.ruleset"
*include "akasaba/nation/ethiopian.ruleset"
*include "akasaba/nation/etruscan.ruleset"
*include "akasaba/nation/european.ruleset"
*include "akasaba/nation/evenki.ruleset"
*include "akasaba/nation/faroese.ruleset"
*include "akasaba/nation/fijian.ruleset"
*include "akasaba/nation/filipino.ruleset"
*include "akasaba/nation/finnish.ruleset"
*include "akasaba/nation/flemish.ruleset"
*include "akasaba/nation/florentine.ruleset"
*include "akasaba/nation/formosan.ruleset"
*include "akasaba/nation/franconian.ruleset"
*include "akasaba/nation/frankish.ruleset"
*include "akasaba/nation/french.ruleset"
*include "akasaba/nation/frisian.ruleset"
*include "akasaba/nation/friulian.ruleset"
*include "akasaba/nation/fulani.ruleset"
*include "akasaba/nation/gabonese.ruleset"
*include "akasaba/nation/gaelic.ruleset"
*include "akasaba/nation/galician.ruleset"
*include "akasaba/nation/gallic.ruleset"
*include "akasaba/nation/gambian.ruleset"
*include "akasaba/nation/genoese.ruleset"
*include "akasaba/nation/georgian.ruleset"
*include "akasaba/nation/gepid.ruleset"
*include "akasaba/nation/german.ruleset"
*include "akasaba/nation/germanbelgian.ruleset"
*include "akasaba/nation/germanic.ruleset"
*include "akasaba/nation/ghana.ruleset"
*include "akasaba/nation/ghanaian.ruleset"
*include "akasaba/nation/ghaznavid.ruleset"
*include "akasaba/nation/gokturk.ruleset"
*include "akasaba/nation/goldenhorde.ruleset"
*include "akasaba/nation/gothic.ruleset"
*include "akasaba/nation/greaterpolish.ruleset"
*include "akasaba/nation/greek.ruleset"
*include "akasaba/nation/greenlander.ruleset"
*include "akasaba/nation/grenadian.ruleset"
*include "akasaba/nation/guanche.ruleset"
*include "akasaba/nation/guarani.ruleset"
*include "akasaba/nation/guatemalan.ruleset"
*include "akasaba/nation/guinean.ruleset"
*include "akasaba/nation/gupta.ruleset"
*include "akasaba/nation/guyanese.ruleset"
*include "akasaba/nation/hacker.ruleset"
*include "akasaba/nation/haitian.ruleset"
*include "akasaba/nation/han.ruleset"
*include "akasaba/nation/hanoverian.ruleset"
*include "akasaba/nation/hansa.ruleset"
*include "akasaba/nation/hasinay.ruleset"
*include "akasaba/nation/hawaiian.ruleset"
*include "akasaba/nation/hellenic.ruleset"
*include "akasaba/nation/helvetian.ruleset"
*include "akasaba/nation/hephthalite.ruleset"
*include "akasaba/nation/hessian.ruleset"
*include "akasaba/nation/himyarite.ruleset"
*include "akasaba/nation/hittite.ruleset"
*include "akasaba/nation/holyroman.ruleset"
*include "akasaba/nation/holysee.ruleset"
*include "akasaba/nation/honduran.ruleset"
*include "akasaba/nation/hopi.ruleset"
*include "akasaba/nation/hungarian.ruleset"
*include "akasaba/nation/hunnic.ruleset"
*include "akasaba/nation/iberian.ruleset"
*include "akasaba/nation/icelandic.ruleset"
*include "akasaba/nation/illyrian.ruleset"
*include "akasaba/nation/inca.ruleset"
*include "akasaba/nation/indian.ruleset"
*include "akasaba/nation/indoeuropean.ruleset"
*include "akasaba/nation/indonesian.ruleset"
*include "akasaba/nation/inuit.ruleset"
*include "akasaba/nation/iranian.ruleset"
*include "akasaba/nation/iraqi.ruleset"
*include "akasaba/nation/irish.ruleset"
*include "akasaba/nation/iroquois.ruleset"
*include "akasaba/nation/israeli.ruleset"
*include "akasaba/nation/israelite.ruleset"
*include "akasaba/nation/italian.ruleset"
*include "akasaba/nation/italiangreek.ruleset"
*include "akasaba/nation/ivoirian.ruleset"
*include "akasaba/nation/jaffna.ruleset"
*include "akasaba/nation/jamaican.ruleset"
*include "akasaba/nation/japanese.ruleset"
*include "akasaba/nation/jolof.ruleset"
*include "akasaba/nation/jordanian.ruleset"
*include "akasaba/nation/kalmyk.ruleset"
*include "akasaba/nation/kanem-bornu.ruleset"
*include "akasaba/nation/karabakhi.ruleset"
*include "akasaba/nation/karelian.ruleset"
*include "akasaba/nation/karen.ruleset"
*include "akasaba/nation/kashmiri.ruleset"
*include "akasaba/nation/kashubian.ruleset"
*include "akasaba/nation/katangan.ruleset"
*include "akasaba/nation/kazakh.ruleset"
*include "akasaba/nation/kenyan.ruleset"
*include "akasaba/nation/khazar.ruleset"
*include "akasaba/nation/khmer.ruleset"
*include "akasaba/nation/khoisan.ruleset"
*include "akasaba/nation/khwarezmian.ruleset"
*include "akasaba/nation/kiribati.ruleset"
*include "akasaba/nation/kittitian.ruleset"
*include "akasaba/nation/komi.ruleset"
*include "akasaba/nation/kongo.ruleset"
*include "akasaba/nation/korean.ruleset"
*include "akasaba/nation/kosovar.ruleset"
*include "akasaba/nation/kuna.ruleset"
*include "akasaba/nation/kurd.ruleset"
*include "akasaba/nation/kushan.ruleset"
*include "akasaba/nation/kuwaiti.ruleset"
*include "akasaba/nation/kyrgyz.ruleset"
*include "akasaba/nation/langobardic.ruleset"
*include "akasaba/nation/lankese.ruleset"
*include "akasaba/nation/laotian.ruleset"
*include "akasaba/nation/latin.ruleset"
*include "akasaba/nation/latvian.ruleset"
*include "akasaba/nation/lebanese.ruleset"
*include "akasaba/nation/lendian.ruleset"
*include "akasaba/nation/leonese.ruleset"
*include "akasaba/nation/lesothoan.ruleset"
*include "akasaba/nation/liberian.ruleset"
*include "akasaba/nation/liburnian.ruleset"
*include "akasaba/nation/libyan.ruleset"
*include "akasaba/nation/liechtensteiner.ruleset"
*include "akasaba/nation/ligurian.ruleset"
*include "akasaba/nation/lipkatatar.ruleset"
*include "akasaba/nation/lippe.ruleset"
*include "akasaba/nation/lithuanian.ruleset"
*include "akasaba/nation/lojbanistani.ruleset"
*include "akasaba/nation/lorrain.ruleset"
*include "akasaba/nation/luwian.ruleset"
*include "akasaba/nation/luxembourgish.ruleset"
*include "akasaba/nation/lycian.ruleset"
*include "akasaba/nation/maasai.ruleset"
*include "akasaba/nation/macedon.ruleset"
*include "akasaba/nation/macedonian.ruleset"
*include "akasaba/nation/majapahit.ruleset"
*include "akasaba/nation/malagasy.ruleset"
*include "akasaba/nation/malawian.ruleset"
*include "akasaba/nation/malaysian.ruleset"
*include "akasaba/nation/maldivian.ruleset"
*include "akasaba/nation/mali.ruleset"
*include "akasaba/nation/malian.ruleset"
*include "akasaba/nation/maltese.ruleset"
*include "akasaba/nation/mamluk.ruleset"
*include "akasaba/nation/manchu.ruleset"
*include "akasaba/nation/manx.ruleset"
*include "akasaba/nation/maori.ruleset"
*include "akasaba/nation/mapuche.ruleset"
*include "akasaba/nation/marathi.ruleset"
*include "akasaba/nation/marshallese.ruleset"
*include "akasaba/nation/martian.ruleset"
*include "akasaba/nation/mauritian.ruleset"
*include "akasaba/nation/mauritanian.ruleset"
*include "akasaba/nation/mayan.ruleset"
*include "akasaba/nation/mazovian.ruleset"
*include "akasaba/nation/mecklenburgian.ruleset"
*include "akasaba/nation/median.ruleset"
*include "akasaba/nation/messapian.ruleset"
*include "akasaba/nation/metis.ruleset"
*include "akasaba/nation/mexican.ruleset"
*include "akasaba/nation/miao.ruleset"
*include "akasaba/nation/micronesian.ruleset"
*include "akasaba/nation/mikmaq.ruleset"
*include "akasaba/nation/milanese.ruleset"
*include "akasaba/nation/miskito.ruleset"
*include "akasaba/nation/mitanni.ruleset"
*include "akasaba/nation/mixtec.ruleset"
*include "akasaba/nation/moldovan.ruleset"
*include "akasaba/nation/moluccan.ruleset"
*include "akasaba/nation/mon.ruleset"
*include "akasaba/nation/monegasque.ruleset"
*include "akasaba/nation/mongol.ruleset"
*include "akasaba/nation/montenegrin.ruleset"
*include "akasaba/nation/moravian.ruleset"
*include "akasaba/nation/mordvin.ruleset"
*include "akasaba/nation/moroccan.ruleset"
*include "akasaba/nation/mozambican.ruleset"
*include "akasaba/nation/mughal.ruleset"
*include "akasaba/nation/muscovite.ruleset"
*include "akasaba/nation/muskogee.ruleset"
*include "akasaba/nation/mwiska.ruleset"
*include "akasaba/nation/namibian.ruleset"
*include "akasaba/nation/nauruan.ruleset"
*include "akasaba/nation/navajo.ruleset"
*include "akasaba/nation/neapolitan.ruleset"
*include "akasaba/nation/nenets.ruleset"
*include "akasaba/nation/nepali.ruleset"
*include "akasaba/nation/nestorian.ruleset"
*include "akasaba/nation/newfoundland.ruleset"
*include "akasaba/nation/newzealand.ruleset"
*include "akasaba/nation/nicaraguan.ruleset"
*include "akasaba/nation/nigerian.ruleset"
*include "akasaba/nation/nigerien.ruleset"
*include "akasaba/nation/nimiipuu.ruleset"
*include "akasaba/nation/norman.ruleset"
*include "akasaba/nation/northkorean.ruleset"
*include "akasaba/nation/northumbrian.ruleset"
*include "akasaba/nation/norwegian.ruleset"
*include "akasaba/nation/novgorodian.ruleset"
*include "akasaba/nation/nubian.ruleset"
*include "akasaba/nation/numidian.ruleset"
*include "akasaba/nation/nuu-chah-nulth.ruleset"
*include "akasaba/nation/occitan.ruleset"
*include "akasaba/nation/ohlone.ruleset"
*include "akasaba/nation/oldenburgian.ruleset"
*include "akasaba/nation/oldprussian.ruleset"
*include "akasaba/nation/omani.ruleset"
*include "akasaba/nation/ossetian.ruleset"
*include "akasaba/nation/ostrogothic.ruleset"
*include "akasaba/nation/otomi.ruleset"
*include "akasaba/nation/ottoman.ruleset"
*include "akasaba/nation/ozite.ruleset"
*include "akasaba/nation/paeonian.ruleset"
*include "akasaba/nation/pakistani.ruleset"
*include "akasaba/nation/palatinate.ruleset"
*include "akasaba/nation/palestinian.ruleset"
*include "akasaba/nation/palmyrene.ruleset"
*include "akasaba/nation/panamanian.ruleset"
*include "akasaba/nation/papuan.ruleset"
*include "akasaba/nation/papuanewguinean.ruleset"
*include "akasaba/nation/paraguayan.ruleset"
*include "akasaba/nation/parthian.ruleset"
*include "akasaba/nation/pelasgian.ruleset"
*include "akasaba/nation/persian.ruleset"
*include "akasaba/nation/peruvian.ruleset"
*include "akasaba/nation/pashtun.ruleset"
*include "akasaba/nation/phoenician.ruleset"
*include "akasaba/nation/phrygian.ruleset"
*include "akasaba/nation/pictish.ruleset"
*include "akasaba/nation/piedmontese.ruleset"
*include "akasaba/nation/polish.ruleset"
*include "akasaba/nation/polynesian.ruleset"
*include "akasaba/nation/pontic.ruleset"
*include "akasaba/nation/portuguese.ruleset"
*include "akasaba/nation/prussian.ruleset"
*include "akasaba/nation/puertorican.ruleset"
*include "akasaba/nation/purhepecha.ruleset"
*include "akasaba/nation/qatari.ruleset"
*include "akasaba/nation/quebecois.ruleset"
*include "akasaba/nation/rapanui.ruleset"
*include "akasaba/nation/raramuri.ruleset"
*include "akasaba/nation/rhenish.ruleset"
*include "akasaba/nation/riffian.ruleset"
*include "akasaba/nation/riograndense.ruleset"
*include "akasaba/nation/romanian.ruleset"
*include "akasaba/nation/roman.ruleset"
*include "akasaba/nation/romansh.ruleset"
*include "akasaba/nation/russian.ruleset"
*include "akasaba/nation/rusyn.ruleset"
*include "akasaba/nation/ruthenian.ruleset"
*include "akasaba/nation/rwandan.ruleset"
*include "akasaba/nation/ryukyuan.ruleset"
*include "akasaba/nation/sabine.ruleset"
*include "akasaba/nation/sahrawi.ruleset"
*include "akasaba/nation/saintlucian.ruleset"
*include "akasaba/nation/saka.ruleset"
*include "akasaba/nation/salishan.ruleset"
*include "akasaba/nation/salvadoran.ruleset"
*include "akasaba/nation/sami.ruleset"
*include "akasaba/nation/sammarinese.ruleset"
*include "akasaba/nation/samnite.ruleset"
*include "akasaba/nation/samoan.ruleset"
*include "akasaba/nation/samogitian.ruleset"
*include "akasaba/nation/santomean.ruleset"
*include "akasaba/nation/sardinian.ruleset"
*include "akasaba/nation/sarmatian.ruleset"
*include "akasaba/nation/saudi.ruleset"
*include "akasaba/nation/savoyard.ruleset"
*include "akasaba/nation/saxon.ruleset"
*include "akasaba/nation/scanian.ruleset"
*include "akasaba/nation/schleswig-holsteinian.ruleset"
*include "akasaba/nation/scottish.ruleset"
*include "akasaba/nation/scottishgaelic.ruleset"
*include "akasaba/nation/scythian.ruleset"
*include "akasaba/nation/seleucid.ruleset"
*include "akasaba/nation/seljuk.ruleset"
*include "akasaba/nation/seminole.ruleset"
*include "akasaba/nation/senegalese.ruleset"
*include "akasaba/nation/serbian.ruleset"
*include "akasaba/nation/seychellois.ruleset"
*include "akasaba/nation/shan.ruleset"
*include "akasaba/nation/shawnee.ruleset"
*include "akasaba/nation/sherpa.ruleset"
*include "akasaba/nation/siberian.ruleset"
*include "akasaba/nation/sicilian.ruleset"
*include "akasaba/nation/sierraleonean.ruleset"
*include "akasaba/nation/sikh.ruleset"
*include "akasaba/nation/sikkimese.ruleset"
*include "akasaba/nation/silesian.ruleset"
*include "akasaba/nation/singaporean.ruleset"
*include "akasaba/nation/sinhalese.ruleset"
*include "akasaba/nation/sioux.ruleset"
*include "akasaba/nation/slavic.ruleset"
*include "akasaba/nation/slovakian.ruleset"
*include "akasaba/nation/slovenian.ruleset"
*include "akasaba/nation/solomonislander.ruleset"
*include "akasaba/nation/somali.ruleset"
*include "akasaba/nation/somaliland.ruleset"
*include "akasaba/nation/songhai.ruleset"
*include "akasaba/nation/sorbian.ruleset"
*include "akasaba/nation/sotho.ruleset"
*include "akasaba/nation/southafrican.ruleset"
*include "akasaba/nation/southamerican.ruleset"
*include "akasaba/nation/southkorean.ruleset"
*include "akasaba/nation/southsudanese.ruleset"
*include "akasaba/nation/southvietnamese.ruleset"
*include "akasaba/nation/southyemeni.ruleset"
*include "akasaba/nation/soviet.ruleset"
*include "akasaba/nation/spanish.ruleset"
*include "akasaba/nation/srivijaya.ruleset"
*include "akasaba/nation/sudanese.ruleset"
*include "akasaba/nation/suebian.ruleset"
*include "akasaba/nation/sumerian.ruleset"
*include "akasaba/nation/surinamese.ruleset"
*include "akasaba/nation/swahili.ruleset"
*include "akasaba/nation/swazi.ruleset"
*include "akasaba/nation/swedish.ruleset"
*include "akasaba/nation/swiss.ruleset"
*include "akasaba/nation/syrian.ruleset"
*include "akasaba/nation/tahitian.ruleset"
*include "akasaba/nation/taino.ruleset"
*include "akasaba/nation/tairona.ruleset"
*include "akasaba/nation/taiwanese.ruleset"
*include "akasaba/nation/tajik.ruleset"
*include "akasaba/nation/tanganyikan.ruleset"
*include "akasaba/nation/tanzanian.ruleset"
*include "akasaba/nation/tatar.ruleset"
*include "akasaba/nation/templar.ruleset"
*include "akasaba/nation/teutonic.ruleset"
*include "akasaba/nation/texan.ruleset"
*include "akasaba/nation/thai.ruleset"
*include "akasaba/nation/thracian.ruleset"
*include "akasaba/nation/thuringian.ruleset"
*include "akasaba/nation/tibetan.ruleset"
*include "akasaba/nation/timurid.ruleset"
*include "akasaba/nation/tocharian.ruleset"
*include "akasaba/nation/togolese.ruleset"
*include "akasaba/nation/toltec.ruleset"
*include "akasaba/nation/tongan.ruleset"
*include "akasaba/nation/transnistrian.ruleset"
*include "akasaba/nation/transylvanian.ruleset"
*include "akasaba/nation/trinidadian.ruleset"
*include "akasaba/nation/tswana.ruleset"
*include "akasaba/nation/tuareg.ruleset"
*include "akasaba/nation/tunisian.ruleset"
*include "akasaba/nation/tupi.ruleset"
*include "akasaba/nation/turkmen.ruleset"
*include "akasaba/nation/turk.ruleset"
*include "akasaba/nation/turkishcypriot.ruleset"
*include "akasaba/nation/tuvan.ruleset"
*include "akasaba/nation/tyrolian.ruleset"
*include "akasaba/nation/ugandan.ruleset"
*include "akasaba/nation/ukrainian.ruleset"
*include "akasaba/nation/un.ruleset"
*include "akasaba/nation/urartian.ruleset"
*include "akasaba/nation/uruguayan.ruleset"
*include "akasaba/nation/uyghur.ruleset"
*include "akasaba/nation/uzbek.ruleset"
*include "akasaba/nation/vampire.ruleset"
*include "akasaba/nation/vandalic.ruleset"
*include "akasaba/nation/vanuatuan.ruleset"
*include "akasaba/nation/vedic.ruleset"
*include "akasaba/nation/veletian.ruleset"
*include "akasaba/nation/venda.ruleset"
*include "akasaba/nation/venetian.ruleset"
*include "akasaba/nation/venetic.ruleset"
*include "akasaba/nation/venezuelan.ruleset"
*include "akasaba/nation/vermont.ruleset"
*include "akasaba/nation/vietnamese.ruleset"
*include "akasaba/nation/viking.ruleset"
*include "akasaba/nation/vincentian.ruleset"
*include "akasaba/nation/visigothic.ruleset"
*include "akasaba/nation/vistulan.ruleset"
*include "akasaba/nation/volapuk.ruleset"
*include "akasaba/nation/volgabulgar.ruleset"
*include "akasaba/nation/volgagerman.ruleset"
*include "akasaba/nation/walloon.ruleset"
*include "akasaba/nation/welsh.ruleset"
*include "akasaba/nation/werewolf.ruleset"
*include "akasaba/nation/westernpomeranian.ruleset"
*include "akasaba/nation/westernroman.ruleset"
*include "akasaba/nation/westindian.ruleset"
*include "akasaba/nation/westphalian.ruleset"
*include "akasaba/nation/wuerttembergian.ruleset"
*include "akasaba/nation/xhosa.ruleset"
*include "akasaba/nation/xiongnu.ruleset"
*include "akasaba/nation/yakut.ruleset"
*include "akasaba/nation/yemeni.ruleset"
*include "akasaba/nation/yucatecan.ruleset"
*include "akasaba/nation/yugoslav.ruleset"
*include "akasaba/nation/zambian.ruleset"
*include "akasaba/nation/zanzibari.ruleset"
*include "akasaba/nation/zapotec.ruleset"
*include "akasaba/nation/zhuang.ruleset"
*include "akasaba/nation/zimbabwean.ruleset"
*include "akasaba/nation/zulu.ruleset"

;----24r----
*include "akasaba/nation_aka/nippon.ruleset"
*include "akasaba/nation_aka/nitei.ruleset"
*include "akasaba/nation_aka/nikyou.ruleset"
*include "akasaba/nation_aka/deutsches.ruleset"
*include "akasaba/nation_aka/fraou.ruleset"
*include "akasaba/nation_aka/fratei.ruleset"
*include "akasaba/nation_aka/habsburg.ruleset"
*include "akasaba/nation_aka/itaou.ruleset"
*include "akasaba/nation_aka/libiya.ruleset"
*include "akasaba/nation_aka/nazi.ruleset"
*include "akasaba/nation_aka/northirish.ruleset"
*include "akasaba/nation_aka/qing.ruleset"
*include "akasaba/nation_aka/rustei.ruleset"
*include "akasaba/nation_aka/isis.ruleset"


*include "override/nation.ruleset"
